p {
    color: red;
    font-size: 22pt;
}

#gruby_maszota {
    color: green;
    font-size: 17pt;
    font-weight: bolder;
}

#dlawszyskich_maszota{
    color: yellow;
    font-size: 10pt;
    font-family: Arial;
}