p#pogrubienie_maszota{
    font-size: 32px;
    color: #8C5DCB;
}

p#pochylona_maszota {
    font-size: 37pt;
    color: #E4C167;
}

p#index_gorny_maszota {
    font-size: 1.2cm;
    color: #A08F17;
}

p#index_dolny_maszota {
    font-size: 1.9cm;
    color: rgb(26,08,99)
}

p#mono_maszota {
    font-size: 42px;
    color: #20DF67;
}

p#powiekszenie_maszota {
    color: #5A3F99;
}

p#pomniejszenie_maszota {
    color: rgb(84,72,23)
}