.jd2{
	color:green;
	
}
 
.jd{
	color:#5F9EA0;
	

}

.jd3{
	color:#5F9EA0;
	
}
.jd4{
	font-size: 30px;
}
.jd5{
	font-size: 18px;
	
}

table{
	border-top-color: black;
	border-right-color: black;
	border-bottom-color: black;
	border-left-color: black;
	border-collapse: collapse;
	
}
	
	.moz{
		Font-weight: bold;
		font-size: 27px;
		
		
		
	}
	
	.lista{
		
		font-size: 17px;
		
		
		
	}
	
.wady{
	font-size: 24px;
	
	
	
}

.wady2{
	font-size: 15px;
	
	
	
}

textarea {
	
	
	
	
	
}

